<div class="container-fluid">
<h1>Book Store</h1>

<form #bookForm=ngForm novalidate (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Book ID</label> <input type="text" name="id" required class="form-control" [(ngModel)]="bookModel.id"/>
  </div>

  <div class="form-group">
    <label>Book Name</label> <input type="text" name="bookName" class="form-control" [(ngModel)]="bookModel.bookName"/>
  </div>

  <div class="form-group">
    <label>Author Name</label> <input type="text" name="authorName" class="form-control" [(ngModel)]="bookModel.authorName"/>
  </div>
</form>

<button class="btn btn-primary" type="submit" (click)="onSubmit()">Add Book</button>

</div>